/* *{
  margin: 0;
  padding: 0;
} */

.content{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.items__style {
  border: 1px solid rgb(61, 25, 94);
  background-color: rgb(201, 161, 238);
  padding: 20px 60px;
  /* margin: 10px; */
}
.block1 {
  display: flex;
  justify-content: space-between;
}

.block2 {
  display: flex;
  justify-content: space-between;
}
.block2_end{
  display: flex;
  justify-content: end;
  gap: 20px;
}

.block3 {
  display: flex;
  justify-content: space-between; 
}
.block3_start{
  display: flex;
  gap: 20px;
}
.block3_end {
  display: flex;
  gap: 20px;
}

.block4 {
  display: flex;
  justify-content: end;
  gap: 20px;
}
.block4__end{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.block5 {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.block5__end {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.block5__items{
padding-left: 120px;
}