@use 'reset.scss';
@use 'mixins';
@use 'colors';
@use 'variables';


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400..500&display=swap');

.container {
  padding: 0 calc(200 * variables.$spacing);
}

.section1 {
  background-color: colors.$main-bg-color;
  padding-top: calc(40 * variables.$spacing);
  padding-bottom: calc(40 * variables.$spacing);
}

.menu {
  @include mixins.flex(50px, center, start);
  &__item {
      color: colors.$main-text-color;
      @include mixins.Roboto();
      letter-spacing: 1.6px;
    }
}
.active {
  color: colors.$main-text-active-color;
  font-weight: 500;
}

.main {
  margin: calc(80 * variables.$spacing) 0 calc(30 * variables.$spacing);
  @include mixins.flex(calc(30 * variables.$spacing), start, center, column);
    &__heading {
      color: colors.$main-text-color;
      @include mixins.Roboto(48px, 500);
    }
  
    &__text {
      color: colors.$paragraf-text-color;
      @include mixins.Roboto();
      line-height: 164.063%;
      width: 75%;
    }
  
    &__btn {
      background-color: colors.$sub-bg-color;
      padding: calc((10 * variables.$spacing) + 5px) calc((26 * variables.$spacing));
      color: colors.$sub-text-color;
      @include mixins.Roboto();
      letter-spacing: 1.6px;
    }
}

.section2 {
  background-color: colors.$section2-bg-color;
  padding-top: calc((55 * variables.$spacing));
  padding-bottom: calc((55 * variables.$spacing));
  @include mixins.flex(50px, center, center, column);
    &__heading {
      color: colors.$main-text-color;
      @include mixins.Roboto(32px, 500);
    }
  
    &__text {
      color: colors.$paragraf-text-color;
      @include mixins.Roboto();
      line-height: 164.063%;
      width: 75%;
      text-align: center;
    }
}

.section3 {
  background-color: colors.$sub-bg-color;
  padding-top: calc((50 * variables.$spacing));
  padding-bottom: calc((50 * variables.$spacing));
}
.list {
  @include mixins.flex(60px);
}
.list__item {
  @include mixins.flex(20px, end);

    &__block {
      @include mixins.flex(10px, start, center, column);
    }
  
    &__block > span:first-child {
      color: colors.$sub-text-color;
      @include mixins.Roboto(21px, 500);
    }
  
    &__block > span:last-child {
      color: colors.$sub-text-color;
      @include mixins.Roboto();
    }
}

.section4 {
  background-color: colors.$main-bg-color;
  padding-top: calc((50 * variables.$spacing));
  padding-bottom: calc((50 * variables.$spacing));
  @include mixins.flex(50px, center, center, column);

    &__heading {
      color: colors.$main-text-color;
      @include mixins.Roboto(32px, 500);
    }
  
    &__text {
      color: colors.$paragraf-text-color;
      @include mixins.Roboto();
      line-height: 164.063%;
      width: 75%;
      text-align: center;
    }
  
    &__video {
      position: relative;
    }
  
    &__video > img {
      width: calc((366 * variables.$spacing));
    }
  
    &__video > svg {
      position: absolute;
      top: 41%;
      left: 46%;
      width: calc((30 * variables.$spacing) + 5px);
      height: calc((30 * variables.$spacing) + 5px);
    }
}

.section5 {
  background-color: colors.$sub-bg-color;
  padding-top: calc((25 * variables.$spacing));
  padding-bottom: calc((25 * variables.$spacing));
  @include mixins.flex(20px, start, center, column);

    &__text1 {
      color: colors.$sub-text-color;
      @include mixins.Roboto(21px, 500);
    }
  
    &__text2 {
      color: colors.$sub-text-color;
      @include mixins.Roboto(13px);
    }
}

@media (min-width: calc((512 * variables.$spacing))) and (max-width: calc((700 * variables.$spacing))) {
  .container {
    padding: calc((30 * variables.$spacing)) calc((100 * variables.$spacing));
  }

  .section4__video > img {
    width: calc((312 * variables.$spacing));
  }

  .list {
    gap: calc((18 * variables.$spacing));
    margin-top: calc((10 * variables.$spacing));
    margin-bottom: calc((10 * variables.$spacing));
  }

  .section2__heading {
    margin-top: calc((10 * variables.$spacing));
  }

  .section2__text {
    margin-bottom: calc((10 * variables.$spacing));
  }

  .section4__heading {
    margin-top: calc((10 * variables.$spacing));
  }
}

@media (min-width: calc((384 * variables.$spacing))) and (max-width: calc((512 * variables.$spacing))) {
  .container {
    padding: calc((30 * variables.$spacing)) calc((45 * variables.$spacing) + 5px);
  }

  .menu__item {
    font-size: calc((7 * variables.$spacing));
  }

  .main__heading {
    font-size: calc((22 * variables.$spacing));
  }

  .main__text {
    font-size: calc((7 * variables.$spacing));
  }

  .main__btn {
    padding: calc((10 * variables.$spacing)) calc((23 * variables.$spacing));
    font-size: calc((7 * variables.$spacing));
  }

  .section2__heading {
    font-size: calc((15 * variables.$spacing));
    margin-top: calc((10 * variables.$spacing));
  }

  .section2__text {
    font-size: calc((7 * variables.$spacing));
    margin-bottom: calc((10 * variables.$spacing));
  }

  .list__item > svg {
    width: calc((20 * variables.$spacing));
  }

  .list {
    gap: calc((7 * variables.$spacing));
    margin-top: calc((10 * variables.$spacing));
    margin-bottom: calc((10 * variables.$spacing));
  }

  .list__item__block > span:first-child {
    font-size: calc((8 * variables.$spacing));
  }

  .list__item__block > span:last-child {
    font-size: calc((5 * variables.$spacing));
  }

  .section4__video>img {
    width: calc((290 * variables.$spacing));
  }

  .section4__heading {
    margin-top: calc((10 * variables.$spacing));
    font-size: calc((15 * variables.$spacing));
  }

  .section4__text {
    font-size: calc((7 * variables.$spacing));
  }

  .section5 {
    gap: calc((7 * variables.$spacing));
  }

  .section5__text1 {
    font-size: calc((8 * variables.$spacing));
  }

  .section5__text2 {
    font-size: calc((5 * variables.$spacing));
  }
}

@media (max-width: calc((384 * variables.$spacing))) {
  .container {
    padding: calc((25 * variables.$spacing)) calc((14 * variables.$spacing));
  }

  .menu {
    flex-wrap: wrap;
  }

  .menu__item {
    font-size: calc((4 * variables.$spacing));
  }

  .main__heading {
    font-size: calc((17 * variables.$spacing));
  }

  .main__text {
    font-size: calc((6 * variables.$spacing));
  }

  .main {
    margin: calc((50 * variables.$spacing)) 0 calc((22 * variables.$spacing));
  }

  .main__btn {
    padding: calc((8 * variables.$spacing)) calc((19 * variables.$spacing));
    font-size: calc((5 * variables.$spacing));
  }

  .section2__heading {
    font-size: calc((10 * variables.$spacing));
    margin-top: calc((10 * variables.$spacing));
  }

  .section2__text {
    font-size: calc((6 * variables.$spacing));
    margin-bottom: calc((10 * variables.$spacing));
  }

  .list__item > svg {
    width: calc((15 * variables.$spacing));
  }

  .list {
    gap: calc((6 * variables.$spacing));
    margin-top: calc((10 * variables.$spacing));
    margin-bottom: calc((10 * variables.$spacing));
  }

  .list__item {
    flex-wrap: wrap;
    gap: calc((5 * variables.$spacing));
  }

  .list__item__block > span:first-child {
    font-size: calc((7 * variables.$spacing));
  }

  .list__item__block > span:last-child {
    font-size: calc((5 * variables.$spacing));
  }

  .section4__video > img {
    width: calc((213 * variables.$spacing));
  }

  .section4__heading {
    margin-top: calc((10 * variables.$spacing));
    font-size: calc((10 * variables.$spacing));
  }

  .section4__text {
    font-size: calc((6 * variables.$spacing));
  }

  .section5 {
    gap: calc((5 * variables.$spacing));
  }

  .section5__text1 {
    font-size: calc((7 * variables.$spacing));
  }

  .section5__text2 {
    font-size: calc((4 * variables.$spacing));
  }
}

@media (max-width: calc((210 * variables.$spacing))) {
  .menu {
    gap: calc((12 * variables.$spacing));
  }

  .section4__video > img {
    width: calc((184 * variables.$spacing));
  }
}